$phone: 750px;
$tablet: 800px;
$break-large: 1100px;
$green: #009341;
$yellow: #ffd250;

@import "header";
@import "story";
@import "menu";
@import "contact";
@import "typography";
@import url("https://use.typekit.net/fty4dqy.css");

html,
body {
  // overflow-x: hidden;
  // background-color: aqua;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Dita", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p,
button,
input,
optgroup,
select,
textarea,
span {
  font-family: "Dita", sans-serif;
}
* {
  box-sizing: border-box;
}

.ginto {
  font-family: ABCGintoNord;
}

.pageWrapper {
  position: relative;
}

.legalInfo-div {
  width: 60%;
  margin: 0 auto;
  padding: 5% 0;
  min-height: 700px;
  @media screen and (max-width: 700px) {
    width: 80%;
  }
}

.marquee .marquee_list {
  // -webkit-animation: ticker 20s infinite linear;
  animation: ticker 20s infinite linear;
  animation-duration: 20s;
}

.followUsWrap {
  .marquee .marquee_list {
    // -webkit-animation: ticker 20s infinite linear;
    animation: ticker 40s infinite linear;
    animation-duration: 40s;
  }
}

.marquee .marquee_list_logo {
  // -webkit-animation: ticker 20s infinite linear;
  animation: ticker 10s infinite linear;
  animation-duration: 10s;
}

.spin {
  animation: spin 10s linear infinite forwards;
}

.spin_back {
  animation: spin_back 10s linear infinite forwards;
}

.rotatedText > span {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  margin: 0 3px;
}

.circleDiv {
  line-height: 1.39;
  letter-spacing: 3.6px;
  @media only screen and (max-width: 640px) {
    letter-spacing: 2px;
  }
}

.marquee_list {
  letter-spacing: 4.31px;
  font-weight: bold;
  font-style: italic;
}

//story headlines
.leading-80 {
  line-height: 100px !important;
}

// follow us text
.text6vw {
  font-size: 6vw;
  line-height: 100%;
}

.slick-dots {
  display: none !important;
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;

  & > div {
    height: 100%;
  }
}

.menuContainer {
  .slick-slide {
    padding: 0 10px;
  }
}

button:focus {
  outline: 0;
}
@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spin_back {
  100% {
    transform: rotate(-1turn);
  }
}
