.menuMenuItemWrap {
  .name{
    line-height: 0.87;
  }
  .text {
    .description {
      line-height: 1.95;
      letter-spacing: 3.6px;
    }
  }
}
.menuMenu_p{
  line-height: 1.61;
  letter-spacing: 3.98px;
}