.storyContainer {
  width: 100%;
  position: relative;
  transition: 1s;

  
  // .bgContainer {
  //   height: 715px;
  //   width: 100%;
  //   background-size: cover;
  //   background-position: center;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   position: relative;
  // }





}
